.header {
  padding: 1rem calc((100% - 500px) / 4);
  display: flex;
  align-items: center;

  .logo {
    height: 5em;
    aspect-ratio: initial;
  }

  .separator {
    flex: 1;
  }

  .link {
    color: white;
    cursor: pointer;
    transition: color 0.1s ease-in-out;

    &:hover {
      color: rgb(208, 64, 16);
    }
  }

  .action-button {
    padding-left: 1rem;
  }
}
