<div class="page-container">
  <h1>CONTACT US</h1>
  <p>
    At Yuuko Games, we greatly value your input, questions, and ideas. We welcome
    any suggestions, doubts, or inquiries you may have. While we may not be able
    to respond to every message due to time constraints, we genuinely appreciate
    receiving them.
  </p>

  <div class="contact-container">
    <div class="column socials-section">
      <h2>Follow us on socials</h2>
      <a *ngFor="let social of socials" [href]="social.url" class="social" attr.aria-label="Visit Yuuko Games {{social.text}} website">
        <img [src]="social.imageUrl" [alt]="social.text + ' icon'" class="icon" />
        <span>{{ social.text }}</span>
      </a>
    </div>

    <div class="column">
      <h2>Send us an email</h2>
      <div>
        <a href="mailto:yuukostudio@gmail.com" class="link"> yuukostudio@gmail.com </a>
      </div>
    </div>
  </div>
</div>
