<a href="/">
  <img
    src="assets/img/logo.png"
    class="logo"
    draggable="false"
    alt="Yuuko Games Studio logo image transparent"
  />
</a>

<div class="separator"></div>

<a href="games" class="link action-button">
  <span class="material-icons">videogame_asset</span>
  <span class="name">Games</span>
</a>

<a href="about-us" class="link action-button">
  <span class="material-icons">groups</span>
  <span class="name">Team</span>
</a>

<a href="contact" class="link action-button">
  <span class="material-icons">alternate_email</span>
  <span class="name">Contact</span>
</a>
