@use "scss/variables" as var;

.logo {
  height: 3rem;
}

.separator {
  flex: 1;
}

.link {
  color: white;
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: var.$brand-color;
  }

  .name {
    text-align: center;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.action-button {
  margin-left: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
