<a href="/" aria-label="Go to home">
  <img unpic src="assets/img/logo.webp" class="logo" draggable="false"
    alt="Yuuko Games Studio logo image transparent" />
</a>

<div class="separator"></div>

<a href="games" class="link action-button" aria-label="See all studio games list">
  <span class="material-icons">videogame_asset</span>
  <span class="name">Games</span>
</a>

<a href="assets" class="link action-button" aria-label="See all studio assets list">
  <span class="material-icons">emoji_objects</span>
  <span class="name">Assets</span>
</a>

<a href="about-us" class="link action-button" aria-label="See all the team">
  <span class="material-icons">groups</span>
  <span class="name">Team</span>
</a>

<a href="contact" class="link action-button" aria-label="Contact us for service">
  <span class="material-icons">alternate_email</span>
  <span class="name">Contact</span>
</a>
