@import "assets/scss/variables";

.logo {
  height: 3rem;
}

.separator {
  flex: 1;
}

.link {
  color: white;
  cursor: pointer;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $brand-color;
  }
}

.action-button {
  padding-left: 1rem;
}
