<div class="page-container">
  <h1>ASSETS</h1>
  <p>
    Yuuko Games wants to contribute to the world of game development by providing high-quality games and assets for the
    community. We believe that everyone should have access to the best possible game developement experience, and we are
    committed to making that a reality.
  </p>

  <div class="separated grid">
    @for (asset of assets; track $index) {
    <a class="asset-container" [href]="asset.url">
      <img src="{{asset.image}}" alt="{{asset.name}}">
      <div class="asset-info">
        <h2>{{asset.name}}</h2>
        <p>{{asset.description}}</p>
        <p class="author">By {{asset.author}}</p>
      </div>
    </a>
    }
  </div>
</div>
