@import "assets/scss/variables";

.header {
  z-index: 10;
  position: fixed;
  top: 0;
  width: calc(100%);
  background: linear-gradient(to bottom, rgba(black, 0.8), rgba(black, 0.3));

  .container {
    padding: 1.5rem max(10px, calc((100% - 500px) / 4));
    display: flex;
    align-items: center;
  }
}

.main {
  background-color: $background-color;
  min-height: 90vh;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #171a1c;

  .container {
    max-width: 500px;
  }
}
