<div class="page-container">
  <div class="head">
    <div>
      <div class="header margin">
        <img
          [src]="game.images.logoTransparent"
          class="logo"
          alt="Transparent game logo"
        />
        <div class="separator"></div>
        <div class="links">
          <a [href]="game.externalLink" target="_blank" class="button">
            VISIT WEBSITE
            <span class="material-icons icon-padding"> open_in_new </span>
          </a>
          <a href="/presskit" class="button secondary"> PRESSKIT </a>
        </div>
      </div>
      <div class="description margin" [innerHTML]="game.description"></div>
      <p class="description"><b>Genre:</b> {{ game.extraInfo.genre }}</p>
      <p class="description">
        <b>Platforms:</b> {{ game.extraInfo.platforms.join(", ") }}
      </p>
      <p class="description">
        <b>Controls:</b> {{ game.extraInfo.controls.join(", ") }}
      </p>
      <p class="description"><b>PEGI:</b> {{ game.extraInfo.pegi }}</p>
    </div>
  </div>

  <h2 class="subtitle">Screenshots</h2>
  <div class="gallery">
    <img
      *ngFor="let screenshot of game.images.screenshots; let i = index"
      [src]="screenshot.url"
      [alt]="screenshot.alt"
      (click)="openImage(i)"
      class="screenshot"
    />
  </div>

  <h2 class="subtitle">Teaser Trailer</h2>
  <iframe
    width="100%"
    class="video"
    [src]="embedSafeUrl"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>
