@use "scss/variables" as var;

.wrapper {
  display: flex;
  gap: 20vw;
  align-items: center;

  .studio-section {
    .logo {
      max-height: 4rem;
    }
  }

  .socials-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .social {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: white;
      text-decoration: none;
      width: fit-content;

      &:hover {
        color: var.$brand-color;
        fill: var.$brand-color;
      }

      .icon {
        width: 1rem;
      }
    }
  }
}
